@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

body {
    background-color: rgba(211, 208, 208, 0.7);
}

.feedback-form {
    margin: 25vh auto 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    padding: 24px;
    max-width: 408px;
    max-height: 296px;
    background: #fff;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input,
textarea {
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    outline: none;
}

textarea {
    height: 80px;
    margin-bottom: 8px;
}

input,
textarea:hover {
    border: 1px solid #000;
}

button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
button:hover,
.back-home:hover {
    background: #6c8cff;
}
.back-home {
    max-width: 95px;
    max-height: 40px;
    padding: 8px 16px;
    background: #4e75ff;
    color: #fff;
    font-size: 20px;
    border-radius: 12px;
    margin: 24px auto 0;
}
.back-home:hover {
    background: #6c8cff;
    animation: jumping-bttn 1.2s ease-in;
    animation-iteration-count: infinite;
}